@import "tailwindcss";

/* 
Notes for consistent styling:

- <h1>: className="text-8xl font-bold"                                          --> reserved as hero section's title
- <h2>: className="text-4xl (font-normal)"                                      --> reserved as hero section's sub-title
- <h3>: className="text-2xl font-bold mb-2" style={{ color: "var(--primary)" }} --> normal title
- <h4>: className="text-xl  font-bold"                                          --> normal sub-title

- Setting "mb" only is better than setting "my" on every element.
- May use "mt" when necessary (e.g. for <hr />).
- Only bottom-most element will not have "mb".
- Only <footer> has "mt".
*/

:root {
    --background: #111111;
    --foreground: #eeeeee;

    --text: #eeeeee;
    --primary: #8fdcaa;
    --secondary: #02491c;
    --accent: #1dd75e;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #111111;
        --foreground: #eeeeee;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    /* Set "Papyrus" (an ugly font lol) as last-resort so it is obvious when preferred fonts are unavailable */
    font-family: Arial, Helvetica, "Papyrus";
}

strong {
    color: var(--accent);
    font-weight: bold;
}
