@import "tailwindcss";

:root {
    --background: #121212;
    --foreground: #eeeeee;

    --text: #eeeeee;
    --primary: #8fdcaa;
    --secondary: #02491c;
    --accent: #1dd75e;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    /* Set "Papyrus" (an ugly font lol) as last-resort so it is obvious when preferred fonts are unavailable */
    font-family: Arial, Helvetica, "Papyrus";
}

strong {
    color: var(--accent);
    font-weight: bold;
}
